:host {
    width: 3%;
    height: 100vh;
    position: fixed;
    background-color: #0076d0;
    padding: 20px;
    border-right: 1px solid #6f6f6f;
    display: flex;
    justify-content: center;
    z-index: 10;
  
  
   nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  
 li {
    margin: 20px 0;
  }

  
  .sidebar-button {
    width: 40px; 
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: block;
    pointer-events: auto;
  }
  
  .sidebar-button.home {
    background-image: url('../../../public/assets/static/home_icon_white.png');
      }
  
  .sidebar-button.stats {
    background-image: url('../../../public/assets/static/stats_icon_white.png');
  }
  
  .sidebar-button.settings {
    background-image: url('../../../public/assets/static/settings_icon_white.png');
  }

  .sidebar-button.logout {
    background-image: url('../../../public/assets/static/door_icon_white.png');
  }

  .sidebar-button:hover {
    transform: scale(1.1);
  }

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

}
}

