<nav>
    <ul>
        <li>
            <div class="profile-container">
                <img [src]="profileImage" alt="Foto de perfil" class="profile-picture">
            </div>
        </li>
        <li>
            <a class="sidebar-button home" (click)="goToHome()" aria-label="Home"></a>
        </li>
        <li>
            <a class="sidebar-button stats" (click)="goToStats()" aria-label="Stats"></a>
        </li>
        <li>
            <a class="sidebar-button settings" (click)="goToSettings()" aria-label="Settings"></a>
        </li>
        <li>
            <a href="/" class="sidebar-button logout" aria-label="LogOut"></a>
        </li>
    </ul>
</nav>