<body class="background">
    <div class="overlay"></div>
    <div class="container">
        <div class="left-section">
            <h1>↑↓ Higher Or Lower</h1>
            <p>¡Regístrate y empieza a jugar ahora!</p>
        </div>
        <div class="divider">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="right-section">
            <form>
                <input type="text" id="username" placeholder="Nombre de Usuario">
                <input type="email" id="email" placeholder="Correo Electrónico">
                <input type="password" id="password" placeholder="Contraseña">
                <input type="password" id="password2" placeholder="Repetir contraseña">

                <div class="form-actions">
                    <a href="/" class="crear-cuenta">Iniciar sesión</a>
                    <button>Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</body>
