<body>    
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li>
                        <a href="/home" class="sidebar-button home" aria-label="Home"></a>
                    </li>
                    <li>
                        <a href="/stats" class="sidebar-button stats" aria-label="Stats"></a>    
                    </li>
                    <li>
                        <a href="/settings" class="sidebar-button settings" aria-label="Settings"></a>
                    </li>
                    <li>
                        <a href="/" class="sidebar-button logout" aria-label="LogOut"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="user-info">
                <img src="/assets/profilePictures/profile_1.png" alt="Foto de perfil" class="profile-picture">
                <h2>Bienvenido, <span id="username">[Nombre de usuario]</span></h2>
                <div class="email-container">
                    <p id="email">usuarioejemplo.com</p>
                </div>
            </div>

            <div class="password-form">
                <h2>Cambiar Contraseña</h2>
                <form id="changePasswordForm">
                    <div class="form-group">
                        <label for="currentPassword">Contraseña Actual:</label>
                        <input type="password" id="currentPassword" name="currentPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Nueva Contraseña:</label>
                        <input type="password" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword">Repetir Contraseña:</label>
                        <input type="password" id="repeatPassword" name="repeatPassword" required>
                    </div>
                    <button type="submit" class="submit-button">Actualizar Contraseña</button>
                </form>
            </div>
        </div>
    </div>
</body>
