
<div class="background">
        <div class="overlay"></div>
        <div class="container">
            <div class="left-section">
                <h1>↑↓ Higher Or Lower</h1>
                <p>¡Adivina qué serie tiene mayor puntuación!</p>
            </div>
            <div class="divider">
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="right-section">
                <form>
                    <input type="text" id="username" placeholder="Nombre de Usuario" [(ngModel)]="username" name="username">
                    <input type="password" id="password" placeholder="Contraseña" [(ngModel)]="password" name="password">
                    <div class="form-actions">
                        <a href="/crear-cuenta" class="crear-cuenta">Crear cuenta</a>
                        <button type="button" (click)="login()">Iniciar Sesión</button>
                    </div>
                </form>
                <a href="/home" class="sin-cuenta">Continuar sin registrarse</a>
            </div>
        </div>
    </div>
