    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li>
                        <a class="sidebar-button home" (click)="goToHome($event)" aria-label="Settings"></a>
                    </li>
                    <li>
                        <a class="sidebar-button stats" (click)="goToStats()" aria-label="Settings"></a>
                    </li>
                    <li>
                        <a class="sidebar-button settings" (click)="goToSettings()" aria-label="Settings"></a>
                    </li>
                    <li>
                        <a href="/" class="sidebar-button logout" aria-label="LogOut"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="leaderboard-container">
                <h2 (click)="pepe()">Leaderboard</h2>
                <button (click)="pepe()">Settings</button>
                <button (click)="goToHome($event)">Settings</button>
                <button (click)="setMessage1()"> Set Message # 1</button>
                <table class="leaderboard">
                </table>
            </div>               
        </div>
    </div>