<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher Or Lower - Leaderboard</title>
    <link rel="stylesheet" href="stats.component.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li>
                        <a href="/home" class="sidebar-button home" aria-label="Home"></a>
                    </li>
                    <li>
                        <a href="/stats" class="sidebar-button stats" aria-label="Stats"></a>    
                    </li>
                    <li>
                        <a href="/settings" class="sidebar-button settings" aria-label="Settings"></a>
                    </li>
 
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="leaderboard-container">
                <h2>Leaderboard</h2>
                <table class="leaderboard">
                </table>
            </div>               
        </div>
    </div>
</body>
</html>